h1 {
  color: white;
}


body, html {
    height: 100%;
}

body {
  background-color: white;
}

.jumbotron {
  background-color: 666#;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(https://throughherlensbyks.files.wordpress.com/2018/10/cropped-img_e78971.jpg?w=1200&h=.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
font-family: sans-serif;
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(https://throughherlensbyks.files.wordpress.com/2018/09/img_72001.jpg);
    /* Set a specific height */
    height: 80%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.row {
  padding: 0px;
  width: 80%;
}

.pull-right {
  clear: both;
}

.w3 {
  align-content: center;
}

}

.footer {
  float: none;
}

.img-thumbnail{
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
